modules = ["nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c \"node prime-gaming.js; node gog.js; echo sleeping; sleep 1d\""

[userenv]

[userenv.shared]
EMAIL = "2ChrisOrr@gmail.com"
EG_EMAIL = "2ChrisOrr@gmail.com"
PG_EMAIL = "chrisorr@email.com"
GOG_EMAIL = "2ChrisOrr@gmail.com"
NOTIFY_TITLE = "Free Games Claimer"
