modules = ["nodejs-20", "bash", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c 'bash run.sh prime-gaming.js; bash run.sh epic-games.js; bash run.sh gog.js; bash run.sh steam.js; echo sleeping; sleep 1d'"

[userenv]

[userenv.shared]
EMAIL = "2ChrisOrr@gmail.com"
EG_EMAIL = "2ChrisOrr@gmail.com"
PG_EMAIL = "2ChrisOrr@gmail.com"
GOG_EMAIL = "2ChrisOrr@gmail.com"
NOTIFY_TITLE = "Free Games Claimer"
PG_REDEEM = "1"

[[ports]]
localPort = 7080
externalPort = 80

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
